body{
  padding: 0px;
  margin: 0px;
  /*background-color: rgb(255, 221, 192);*/
  /* background-image:url("./Images/Background4.jfif");
  background-size:auto;
  background-repeat:repeat; */
  background-image:linear-gradient(to right,rgb(252, 252, 116),rgb(255, 116, 116));
}

.Navbar{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  padding: 1vh 0vh;
  box-shadow: 1px 3px 10px gray;
  width: 100%;
  background-color: white;
}

.Navbar_List{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  float: right;
  margin : 0px 0vw 0px 0vw;
  list-style: none;
  font-size: 1.5vw;
  width: 50%;
}
.Navbar_Logo{
  position: absolute;
  left: 5vw;
  display: flex;
  align-self: center;
  color: green;
  font-size: 1.5vw;
}
.Navbar i{
  display: flex;
  align-self: center;
  margin-right: 1vw;
  height: 3vh;
}

.FoodItem{
  margin: 3vw 8vw;
  display: flex;
  border: solid 0.5px black;
  padding: 2vw;
  border-radius: 15%;
  box-shadow: 0.5vh 0.5vh gray;
  background-color: peachpuff;
}

.FoodItem .FoodInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  font-family: "Inter";
}
.FoodItem img{
  width: 25%;
  height: 40vh;
  border-radius: 25%;
}
 .FoodItem .FoodName{
  margin: 1vw 2vw;
  font-family: "Inter";
  font-size: 1.75vw;
  color: blue;
 }

 .FoodPrice{
  margin:0vw 2vw 1vw 2vw;
  font-family: "Inter";
  font-size: 1.5vw;
  color:red;
 }
 .FoodItem .FoodDescription, .TotalCount, .FoodIngredients, .TotalAmount{
   display: block;
   margin: 0px;
   margin-left: 2vw;
   font-family: "Inter";
   font-size: 1.25vw;
   color: black;
 }

 .FoodItem .FoodCount, .FoodPriceInfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8vh;
  padding: 0.2vw;
  margin: 0vw 0vw 1vw 0vw;
  font-size: 1vw;
 }
 .FoodCount .QuantityButton{
  margin: 1vw;
  border-radius: 25%;
  font-weight: bold;
  background-color: transparent;
  border: none;
 }
 .FoodItem .FoodCount .CartButton{
  margin: 2vw 1vw 1vw 1vw;
  background-color: yellow;
  border-radius: 10px;
  font-size: 1vw;
  text-align: center;
  font-weight: 700;
  height: 3vw;
  width: 10vw;
 }

 .FoodCount i{
    font-size: 1.5vw;
    margin-right: 5px;
 }

 .CartTitle{
  text-align: center;
  font-family: "Inter";
  font-size: 2.5vw;
  color:green;
 }

.FoodItem .DiscountImg{
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
}

.Main-Img{
  position: absolute;
  top: 10vw;
  left: 55vw;
  bottom: 10vw;
  width: 40%;
  /* height: 70%; */
  border-radius: 50%;
  padding: 1vw;
  /*background-image:linear-gradient(to right,rgb(252, 252, 116),rgb(255, 116, 116));*/
}

.MainContent{
  display: flex;
  margin: 10vw 0vw 5vw 5vw;
  padding: 1vw;
  flex-direction: column;
  width: 45%;
}

.MainContent .Hero-Text{
  font-family: "Inter";
  font-size: 5vw;
  margin-bottom: 0px;
  color:blue;
  text-shadow: 3px 3px black;
}

.MainContent .Sub-Hero-Text{
  font-family: "Inter";
  font-size: 1.75vw;
  letter-spacing: 0.5px;
  font-weight: 500;
  color:red;
}

.MainContent button{
  font-family: "Inter";
  width: 40%;
  margin: 1vw 0vw;
  padding: 0.6vw;
  font-size:1.5vw;
  font-weight: 500;
  color:yellow;
  background-color: dodgerblue;
  box-shadow: 2px 2px black;
  border: none;
  border-radius: 1vw;
}

.Bill-Heading{
  text-align: center;
}

.Bill-Content table{
    border:solid 1px black;
    border-collapse:collapse;
    margin: 1vw;
}

.Bill-Content th,td{
  border:solid 1px black;
  padding: 3px;
}